<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><a href="/"></a></li>
        <li><a href="/category/<%= @product.category.id %>"><%= @product.category.title %></a></li>
        <li><%= @product.title %></li>
      </ol>
    </div>
  </div>
</div>

<div class="single contact">
  <div class="container">
    <div class="single-main">
      <div class="col-md-9 single-main-left">
        <div class="sngl-top">
          <div class="col-md-5 single-top-left">

            <% unless @product.galleries == [] %>
              <!-- Flexslider -->
              <div class="flexslider">
                <ul class="slides">
                  <% @product.galleries.each do |item| %>
                    <li data-thumb="<%= asset_path item['img'] %>">
                      <div class="thumb-image">
                        <img src="<%= asset_path item['img'] %>" data-imagezoom="true" class="img-responsive" alt=""/>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>

              <% else %>

              <div class="flexslider">
                <ul class="slides">
                  <li data-thumb="<%= asset_path @product.img %>">
                    <div class="thumb-image"><img src="<%= asset_path @product.img %>" data-imagezoom="true" class="img-responsive" alt=""/></div>
                  </li>
                  <li data-thumb="<%= asset_path @product.img %>">
                    <div class="thumb-image"><img src="<%= asset_path @product.img %>" data-imagezoom="true" class="img-responsive" alt=""/></div>
                  </li>
                  <li data-thumb="<%= asset_path @product.img %>">
                    <div class="thumb-image"><img src="<%= asset_path @product.img %>" data-imagezoom="true" class="img-responsive" alt=""/></div>
                  </li>
                </ul>
              </div>

              <% end %>

          </div>

          <div class="col-md-7 single-top-right">
            <div class="single-para simpleCart_shelfItem">
              <h2><%= @product.title %></h2>
              <div class="star-on">
                <ul class="star-footer">
                  <li><a href="#"><i> </i></a></li>
                  <li><a href="#"><i> </i></a></li>
                  <li><a href="#"><i> </i></a></li>
                  <li><a href="#"><i> </i></a></li>
                  <li><a href="#"><i> </i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>

              <h5 class="item_price">$ <%= @product.price %></h5>
              <% if @product.old_price %>
                <del><%= @product.old_price %>$</del>
              <% end %>
              <p><% @product.content %></p>
              <div class="available">
                <ul>
                  <li>Color
                    <select>
                      <option>Black</option>
                      <option>White</option>
                      <option>Red</option>
                      <option>Green</option>
                    </select>
                  </li>
                  <li class="size-in">Size
                    <select>
                      <option>S</option>
                      <option>M</option>
                      <option>L</option>
                      <option>XL</option>
                      <option>XLL</option>
                    </select>
                  </li>
                  <div class="clearfix"></div>
                </ul>
              </div>
              <ul class="tag-men">
                <li>
                  <span>Category:</span>
                  <strong><%= @product.category.title %> </strong>
                </li>
                <li>
                  <span>Brand:</span>
                  <strong><%= @product.brand.title %> </strong>
                </li>
              </ul>
            <div class="quantity">
              <input type="number" size="4" value="1" name="quantity" min="1" step="1">
            </div>

              <%= link_to 'ADD TO CART',
                          cart_items_path,
                          remote: true,
                          data: { method: :post, id: @product.id },
                          class: "add-cart item_add add-to-cart-link",
                          id: "productAdd"

              %>

            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="tabs">
          <ul class="menu_drop">
            <li class="item1">
              <a><img src="<%= asset_path 'arrow.png' %>" alt="">Description</a>
              <ul style="background: white">
                <li>
                  <p style="background: white"><%= @product.content %></p>
                </li>
              </ul>
            </li>
            <li class="item3">
              <a><img src="<%= asset_path 'arrow.png' %>" alt="">Reviews</a>
              <ul style="background: white">
                <li>
                  <p style="background: white">No reviews</p>
                </li>
              </ul>
            </li>
          </ul>
        </div>



      <%if recent_products.any?%>
        <div class="latestproducts">
          <div class="product-one">
            <h3>Recently Products</h3>

            <% recent_products.each do |recently| %>

              <div class="col-md-4 product-left p-left">
                <div class="product-main simpleCart_shelfItem">
                  <a href="<%= recently.id %>" class="mask">
                    <img class="img-responsive zoom-img" src="<%= asset_path recently.img %>" alt=""/>
                  </a>
                  <div class="product-bottom">
                    <h3><a href="<%= recently.id %>"><%= recently.title %></a></h3>
                    <p>Explore Now</p>
                    <h4>
                      <a class="item_add add-to-cart-link" href="cart/add?id=<%= recently.id %>" data-id="<%= recently.id %>"><i></i>
                      </a>
                      <span class="item_price">$ <%= recently.price %></span>
                      <% if recently.old_price %>
                        <del>$ <%= recently.old_price %></del>
                      <% end %>
                    </h4>
                  </div>
                  <div class="srch">
                    <span>-50%</span>
                  </div>
                </div>
              </div>
              <% end %>

            <div class="clearfix"></div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>